<h1>{{ title }}</h1>
<div>
  <label for="">INPUT 1 </label>
  <input (input)="getNum1(firstInput.value)"
  type="text" #firstInput /><br>
  <label for="">INPUT 2 </label>
  <input (input)="getNum2(secondInput.value)"
  type="text" #secondInput />
</div>
<br><br>

<div>
  <button (click)="add()"> ADD </button>
  <button (click)="sub()"> SUBTRACT </button>
  <button (click)="mul()"> MULTIPLY </button>
  <button (click)="div()"> DIVIDE </button>
</div>
<br><br>
<hr />
<br><br>
<div>
<label for="">RESULT </label>
<input type="text" [value]="result">
</div>
